@page
@model StudentAccomodation.Pages.Leasings.DisplayAllLeasingsModel
@{
    ViewData["Title"] = "GetLeasings";
}

<h3 style="color:red"> List of Leasings</h3>
<table class="table">
    <thead>
        <tr>
            <th> Leasing Number </th>
            <th> Student Number </th>
            <th> Place Number </th>
            <th> Date From</th>
            <th>  Date To</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var @item in Model.AllLeases)
            {
                <tr>
                    <td>  @item.Leasing_No </td>
                    <td>  @item.Student_No </td>
                    <td>  @item.Place_No</td>
                     <td>  @item.Date_From</td>
                     <td>  @item.Date_To</td>
                    
                 </tr>
            }
        }
</table>
